<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gui"
        tools:targetApi="31">
        <activity
            android:name=".Units.Unit8"
            android:exported="false" />
        <activity
            android:name=".Units.Unit7"
            android:exported="false" />
        <activity
            android:name=".Units.Unit6"
            android:exported="false" />
        <activity
            android:name=".Units.Unit5"
            android:exported="false" />
        <activity
            android:name=".Units.Unit4"
            android:exported="false" />
        <activity
            android:name=".Units.Unit3"
            android:exported="false" />
        <activity
            android:name=".Units.Unit2"
            android:exported="false" />
        <activity
            android:name=".Units.Unit1"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".Focus.Focus5"
            android:exported="false" />
        <activity
            android:name=".Focus.Focus4"
            android:exported="false" />
        <activity
            android:name=".Focus.Focus3"
            android:exported="false" />
        <activity
            android:name=".Focus.Focus2"
            android:exported="false" />
        <activity
            android:name=".Focus.Focus1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>